.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 16.5625rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  z-index: 1000;
  overflow-x: hidden;
}

.left-sidebar.collapsed {
  width: 5rem;
}

@media (max-width: 768px) {
  .left-sidebar {
    transform: translateX(-100%);
  }

  .left-sidebar.collapsed {
    transform: translateX(0);
  }
}

.sidenav {
  background-color: #36647B !important;
  transition: width 0.2s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 16.5625rem;
  height: 100vh;
  box-shadow: none;
  border: none;
  overflow: hidden;
}

.sidenav-collapsed {
  width: 5rem;
}

.sidenav .logo-container {
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0 0.938rem;
  width: 100%;
}

.sidenav .logo-container .logo {
  background: #fff;
  text-align: center;
  width: 3rem;
  min-width: 3rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
}

.sidenav .logo-container .logo-text {
  margin-left: 1.5rem;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.sidenav .logo-container .btn-close {
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.sidenav .logo-container .btn-close .fa-times {
  color: #fff;
  font-size: 24px;
}

.sidenav-nav {
  list-style: none;
  padding: 2rem 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.sidenav-nav-item {
  width: 100%;
  margin-bottom: 1rem;
}

.logout-item {
  margin-top: auto;
  margin-bottom: 1rem;
}

.sidenav-nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  color: #B4C6D4;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all 0.2s ease;
  padding: 0.5rem 1rem;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.sidenav-collapsed .sidenav-nav-link {
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 0.5rem;
}

.sidenav-link-icon {
  font-size: 24px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
  color: #B4C6D4;
}

.sidenav-link-text {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #B4C6D4;
  transition: opacity 0.2s ease;
}

.collapsed-text {
  margin-left: 0;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
  white-space: normal;
  line-height: 1;
}

.active .sidenav-link-icon,
.active .sidenav-link-text {
  color: #FEC608 !important;
}

.logout-item .sidenav-nav-link:hover .sidenav-link-icon,
.logout-item .sidenav-nav-link:hover .sidenav-link-text {
  color: #FEC608;
}