<div class="sidenav" [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''">
  <div class="sidenav-nav">
    @for (item of items; track $index) {
    <li class="sidenav-nav-item">
      @if (item.hasMenu) {
      <a class="sidenav-nav-link" [matMenuTriggerFor]="menu">
        <mat-icon class="sidenav-link-icon">{{item.icon}}</mat-icon>
        <span class="sidenav-link-text" [class.collapsed-text]="isLeftSidebarCollapsed()">{{ item.label }}</span>
      </a>
      <mat-menu #menu="matMenu">
        @for(menuItem of item.menuItems; track menuItem.label) {
        <button mat-menu-item [routerLink]="menuItem.routeLink">
          {{menuItem.label}}
        </button>
        }
      </mat-menu>
      } @else {
      <a class="sidenav-nav-link" [routerLink]="item.routeLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="sidenav-link-icon">{{item.icon}}</mat-icon>
        <span class="sidenav-link-text" [class.collapsed-text]="isLeftSidebarCollapsed()">{{ item.label }}</span>
      </a>
      }
    </li>
    }
    <li class="sidenav-nav-item logout-item">
      <a class="sidenav-nav-link" (click)="logout()">
        <mat-icon class="sidenav-link-icon">logout</mat-icon>
        <span class="sidenav-link-text" [class.collapsed-text]="isLeftSidebarCollapsed()">Cerrar sesión</span>
      </a>
    </li>
  </div>
</div>

