/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

$light-theme: mat.define-light-theme((color: (primary: mat.define-palette(mat.$indigo-palette),
                accent: mat.define-palette(mat.$pink-palette),
            ),
            typography: mat.define-typography-config(),
            density: 0));

// Definir colores principales para el tema oscuro
$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$blue-grey-palette),
                accent: mat.define-palette(mat.$deep-orange-palette),
            ),
            typography: mat.define-typography-config(),
            density: 0));

// Estilos aplicados dependiendo de la clase del body
.light-theme {
    @include mat.all-component-themes($light-theme);
    background-color: #ffffff;
    color: #000;
}

.dark-theme {
    @include mat.all-component-themes($dark-theme);
    background-color: #121212;
    color: #fff;
}