<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="example-button-container">
                <button mat-fab extended (click)="openModalRegistroSubcategorias()">
                    <mat-icon>add_circle</mat-icon>
                    Crear Subcategoria
                </button>
              </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <app-listadoSubcat></app-listadoSubcat>
        </div>
        
    </div>
</div>